@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}




<div style="text-align:center">
    <div style="text-align:center">
        <div>
            <h3>@ViewBag.Title</h3>
            <p>This website has been build by <a href="https://github.com/Abneed">Guillermo A. Rodríguez</a>.</p>
        </div>
    </div>
</div>
