@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}




<div style="text-align:center">
    <div style="text-align:center">
        <div>
            <h3>@ViewBag.Title.</h3>
            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</div>
