@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div style="text-align:center">
    <div style="text-align:center">
        <div>
            <h3>Welcome to BlogBuster</h3>
            <p>This is the home page for the accreditation of the subject of "Advanced Programming".</p>
        </div>
    </div>
</div>